<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../lib/iron-icons/iron-icons.html" rel="import">
<link href="../lib/paper-dialog/paper-dialog.html" rel="import">
<link href="../lib/paper-button/paper-button.html" rel="import">
<link href="../lib/promise-polyfill/promise-polyfill-lite.html" rel="import" >

<dom-module id="grapp-confirmation-dialog">

  <template>

    <style>
      #content {
        @apply(--layout-vertical);
        margin-bottom: 1em;
      }
    </style>

    <paper-dialog id="dialog">

      <h2>[[heading]]</h2>

      <div id="content">
        <template is="dom-if" if="[[!htmlMessage]]">
          <div>[[message]]</div>
        </template>
        <div id="htmlMessage"></div>
        <content></content>
      </div>

      <div class="buttons">
        <paper-button id="yes" dialog-confirm raised success on-tap="confirm">
          <template is="dom-if" if="[[yesIcon]]">
            <iron-icon icon="[[yesIcon]]"></iron-icon>
          </template>
          <span>[[yesLabel]]</span>
        </paper-button>

        <paper-button id="no" dialog-dismiss autofocus raised error on-tap="cancel">
          <template is="dom-if" if="[[noIcon]]">
            <iron-icon icon="[[noIcon]]"></iron-icon>
          </template>
          <span>[[noLabel]]</span>
        </paper-button>
      </div>

    </paper-dialog>

  </template>

  <!-- build:script inline confirmation_dialog -->
  <script src="grapp-confirmation-dialog.js"></script>
  <!-- /build -->

</dom-module>
