<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../lib/iron-icons/iron-icons.html" rel="import">
<link href="../lib/paper-dialog/paper-dialog.html" rel="import">
<link href="../lib/paper-button/paper-button.html" rel="import">
<link href="../lib/promise-polyfill/promise-polyfill-lite.html" rel="import" >

<dom-module id="grapp-message-dialog">

  <template>

    <style>
      #content {
        @apply(- -layout-vertical);
        margin-bottom: 1em;
      }
    </style>

    <paper-dialog id="dialog">

      <h2>[[heading]]</h2>

      <div id="content">
        <template is="dom-if" if="[[!htmlMessage]]">
          <div>[[message]]</div>
        </template>
        <div id="htmlMessage"></div>
        <content></content>
      </div>

      <div class="buttons">
        <paper-button id="close" dialog-confirm autofocus raised success on-tap="close">
          <template is="dom-if" if="[[closeIcon]]">
            <iron-icon icon="[[closeIcon]]"></iron-icon>
          </template>
          <span>[[closeLabel]]</span>
        </paper-button>
      </div>

    </paper-dialog>

  </template>

  <!-- build:script inline message_dialog -->
  <script src="grapp-message-dialog.js"></script>
  <!-- /build -->

</dom-module>
